:root {
  --chrome-blue: #1967d2;
}

/* GLOBAL STYLES */
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10rem;
}

h1 {
  margin: 0;
  padding: 15px;
  font-size: clamp(3rem, 6vw, 4rem);
}

footer {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  background-color: var(--chrome-blue);
  color: lightgray;
  text-align: center;
}
.footnote {
  display: block;
}

a {
  color: white
}

.emphasis {
  background-color: var(--chrome-blue);
  color: white;
}

/* APP STYLES */
#app {
  display: grid;
  grid-template-areas: 
    'sel'
    'first'
    'second'
    'third'
    'calc'
    'results';
  gap: 2rem;

  width: min(95%, 70ch);
  margin: 1rem auto;
}
#app>div:nth-child(1) {
  grid-area: sel;
}
#app>div:nth-child(2) {
  grid-area: first;
}
#app>div:nth-child(3) {
  grid-area: second;
}
#app>div:nth-child(4) {
  grid-area: third;
}
#app>div:nth-child(5) {
  grid-area: calc;
}
#app>div:nth-child(6) {
  grid-area: results;
}

select {
  display: inline-block;
  background-color: white;
  padding: 5px;
  font: inherit;
  outline: transparent;
  border: 2px solid transparent;
}
select:focus {
  border: 2px solid black;
}

#app>div {
  display: block;
  margin: 0;
  padding: 1em;
  border-radius: 10px;

  text-align: center;
}

input[type="number"] {
  display: inline-block;
  width: 5em;
  font: inherit;
  border: 2px solid transparent;
  border-bottom-color: black;
}

#calculate {
  display: block;
  width: 100%;
  padding: 1rem;
  font: inherit;
  font-weight: bold;
  border: 0;
  box-shadow: none;
  border-radius: 10px;
}
#show-more {
  display: inline-block;
  padding: 0.5rem;
  margin-left: 2rem;
  font: inherit;
  border: 0;
  box-shadow: none;
  border-radius: 10px;
}
#calculate:hover,
#show-more:hover {
  background-color: var(--chrome-blue);
  color: white;
}

#work {
  text-align: left;
}

/* RESPONSIVE */

@media (min-width: 768px) {
  body {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }
  .footnote {
    display: inline;
  }
  .footnote:not(:last-child)::after {
    content: " | ";
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1rem;
  }
  #app {
    grid-template-areas: 
      'sel sel sel'
      'first second third'
      'calc calc calc'
      'results results results';
    
  }
}