body {
  font-size: 120%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 0 0 10% 0;
  margin-bottom: 10%;
}
#app {
  width: 80%;
  margin: 10px auto;
}
h1 {
  margin: 0;
  padding: 15px;
}
p {
  display: block;
  margin: 0;
  padding: 20px;
  border-radius: 10px;
}
img {
  display: block;
  width: 40%;
  margin: auto;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: royalblue;
  color: lightgray;
  text-align: center;
}
a {
  color: white
}

select {
  display: inline-block;
  background-color: white;
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
  border: transparent;
}
select:focus
select option:checked {
  background-color: royalblue;
  color: white;
}

p>span, input[type="number"] {
  display: inline-block;
  width: 5em;
  font-size: inherit;
  font-family: inherit;
}
input:focus {
  outline: transparent;
  border: 2px solid royalblue;
}

#calculate {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: inherit;
  font-family: inherit;
  border: 0;
  box-shadow: none;
  border-radius: 10px;
}
#calculate:hover {
  background-color: #1967d2;
}

.isUnknown {
  background-color: lightgray;
}
.emphasis {
  background-color: royalblue;
  color: white;
}
.footnote {
  display: block;
}

/* remove arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: 786px) {
  body {
    font-size: 100%;
  }
  #app {
    width: 600px;
  }
  img {
    width: 300px;
  }
  .footnote {
    display: inline;
  }
  .footnote:not(:last-child)::after {
    content: " | ";
  }
}